= form_for @receipt do |f|
  - if @receipt.errors.any?
    #error_explanation
      %h2= "#{pluralize(@receipt.errors.count, "error")} prohibited this receipt from being saved:"
      %ul
        - @receipt.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :cashbox
    = f.text_field :cashbox
  .field
    = f.label :cashier_name
    = f.text_field :cashier_name
  .field
    = f.label :error_note
    = f.text_field :error_note
  .field
    = f.label :printing_state
    = f.text_field :printing_state
  .field
    = f.label :reference
    = f.text_field :reference
  .field
    = f.label :branch_id
    = f.number_field :branch_id
  .actions
    = f.submit 'Save'
